<div class = "contents-oya">
    <div class = "contents-center">
    <div class = "contents-name-date">
      <div class = "contents-name-show">
        <%= @tweet.user.nickname %>    
      </div>
      <div class = "contents-date-show">
    <span data-livestamp="<%=@tweet.updated_at.strftime("%Y/%m/%d %H:%M %Z")%>"></span>
      </div>
    </div>
    <% if user_signed_in? && current_user.id == @tweet.user_id %>
    <div class = "edit">
      <%= link_to '編集', "/tweets/#{@tweet.id}/edit", method: :get %>
    </div>
    <div class = "delete">
     <%= link_to '削除', "/tweets/#{@tweet.id}", method: :delete %>
     </div>
     <% end %>
      <div class = "contents-post-show">
        <%= @tweet.text%>
        <br>
        <% if @tweet.image? %>
        <%= image_tag @tweet.image.url, class: "show" %>
        <% end %>
      </div>
        <div class="container">
    <% if current_user %>
      <%= form_with(model: [@tweet, @comment], local: true) do |form| %>
        <%= form.text_area :text, placeholder: "コメントする", rows: "2" %>
        <br>
        <%= form.submit "SEND", class: "comment_btn" %>
      <% end %>
    <% else %>
      <strong><p>※※※ コメントの投稿には新規登録/ログインが必要です ※※※</p></strong>
    <% end %>
  </div>
      <div class="comments">
      <h6>＜コメント一覧＞</h6>
      <% if @comments %>
        <% @comments.each do |comment| %>
          <p>
            <strong><%= link_to comment.user.nickname, "/users/#{comment.user_id}" %>：</strong>
            <%= comment.text %>
          </p>
        <% end %>
      <% end %>
    </div>
    <div class = "contents-side">
      <div class = "contents-side-left">
      </div>
      <div class = "contents-side-right">
      </div>
    </div>
</div>