<!DOCTYPE html>
<html>
  <head>
    <title>Momsive</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>  
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/livestamp/1.1.0/livestamp.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Baloo+2:wght@700&display=swap" rel="stylesheet">
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
  </head>

  <body>
    <div class = "header">
      <div class = "header-upper">
        <div class = "header-upper-title">
          <%= link_to "Momsive", root_path%>
        </div>
        <div class = "header-upper-post">
          <%= link_to "tweet", new_tweet_path %>
        </div>
      </div>
    </div>
    <div class = "contents">
      <%= yield %>
    </div>
  </body>
</html>
